/* this is forgotPassword */
.forgotland {
  margin: 0;
  width: auto;
  height: auto;
  text-transform: capitalize;
  display: flex;
  margin: auto;
  padding-bottom: 3rem;
}
.section_forgot {
  border: 1px solid #52556080;
  background: #ffffff;
  column-gap: 2rem;
  width: auto;
  height: auto;
  margin-top: 3rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.forgot_details {
  justify-content: center;
  text-align: center;
}
.forgot_details h3 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 72.02px;
  margin-left: auto;
  margin-right: auto;
}
.forgot_details p {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  line-height: 28.81px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.formforgot label {
  display: flex;
  margin-top: 2rem;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 36.59px;
  justify-content: center;
  align-items: center;
}

.Emailforgot input {
  width: auto;
  height: 4rem;
  justify-content: center;
  text-align: left;
  border-radius: 7.51px;
  border: 0.94px 0px 0px 0px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 54.9px;
  padding-left: 3rem;
}
.submit_forgot {
  width: auto;
  height: 4rem;
  justify-content: center;
  text-align: center;
  border-radius: 7.51px;
  border: 0.94px 0px 0px 0px;
  color: #ffffff;
  margin-top: 1rem;
  background: #642ab6;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 54.9px;
}
