*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.section {
}
/* .navbar {
  width: 1540px;
  height: 92px;
  position: fixed;

  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 2.5rem;
  margin-left: -5rem;
}
.navbar img {
  display: flex;
  width: 149.091px;
  height: 58.018px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px 0.54px;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: 0 7rem 0 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar ul li {
  display: inline-flex;
  align-items: flex-start;
  gap: 46px;
}
.navbar ul li a {
  color: #090446;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 161px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.mainNav ul li a:hover {
  background: #642ab6;
  font-size: larger;
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
}
.otherNav {
  border: 1px solid #525560;
  padding: 0 2rem 0 2rem;
  border-radius: 0.5rem;
} */

/* this is for Error */
#wdone1 {
  margin-top: 5rem;
  margin-left: 5rem;
  position: relative;
  margin-bottom: 5.5rem;
}
#wdone1 h3 {
  color: #b03030;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
}
#wdone1 h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  width: 420px;
  height: 20px;

  margin-top: 5rem;
}
#wdone1 li {
  width: 196px;
  height: 20px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;

  margin-top: 5rem;
}
#wdone1 li a {
  background: #642ab6cc;
  padding: 8px 16px 8px 16px;

  border-radius: 5px;
  color: #fff;
}
.done_kE {
  position: absolute;
  width: 597.59px;
  height: 398px;
  border-radius: 2rem;
  opacity: 0.9;
  border: 0px solid lightgray;
  background-image: url('../src/img/cuate.svg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 6.5rem;
  left: 45rem;
}

/* this is for report */

.formR {
  width: 1012px;
  height: 800px;
  position: relative;
  left: 10rem;
  top: 5rem;
}
.formR ::placeholder {
  color: #000;
}
label {
  opacity: 0.5;
}
#emailR {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: 1.5rem;
  border-top: 1rem;
  border-left: 1rem;
  border-right: 1rem;
  width: 30rem;
  padding: 1rem;
}
#ageR {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: 1.5rem;
  border-top: 1rem;
  border-left: 1rem;
  border-right: 1rem;
  width: 30rem;
  padding: 1rem;
}
.ageR {
  position: absolute;
  top: -0rem;
  left: 35rem;
}
#addressR {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: 1.5rem;
  border-top: 1rem;
  border-left: 1rem;
  border-right: 1rem;
  width: 30rem;
  padding: 1rem;
}
.addressR {
  position: absolute;
  top: 10rem;
}
#relationship {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: 1.5rem;
  border-top: 1rem;
  border-left: 1rem;
  border-right: 1rem;
  width: 30rem;
  padding: 1rem;
}
.relationship {
  position: absolute;
  top: 10rem;
  left: 35rem;
}
.reportAbuse {
  position: absolute;
  top: 20rem;
  border: 1rem;
}
#reportAbuse {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: 0.5rem;
  padding: 2rem;
  width: 30rem;
}
.Upload_Evidence {
  position: absolute;
  top: 20rem;
  left: 35rem;
}
#Upload_Evidence {
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: 0.5rem;
  padding: 2rem;
  width: 30rem;
}
.upload_Evidend {
  background: url('../src/img/image_FILL1_wght400_GRAD0_opsz24\ 1.svg');
  width: 1rem;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  left: 15rem;
}
.submit_abuse {
  text-transform: capitalize;
  position: absolute;
  top: 30rem;
  right: 15rem;
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 5.27px;
  background: #f46188;
  color: #fff;
  border: 0.5rem solid #f46188;
  width: 30rem;
  height: 39px;
  font-family: Montserrat;
  font-size: 32.35px;
  font-weight: 600;
}
.Download_Form {
  text-transform: capitalize;
  position: absolute;
  top: 38rem;
  right: 15rem;

  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 5.27px;
  background: #f46188;
  color: #fff;
  border: 0.5rem solid #f46188;
  width: 30rem;
  height: 39px;
  font-family: Montserrat;
  font-size: 32.35px;
  font-weight: 600;
}

/* this is for the SignInPage */
.signIn_HOME {
  margin: 0;
  max-width: 1170px;
  text-transform: capitalize;
  display: flex;
  margin: auto;
}
.section_signIn {
  width: 95vw;
  justify-content: center;
  align-items: flex-start;
  height: 730px;
  border: 1px solid #52556080;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
}
.img_sign {
  background-image: url('../src/img/Frame\ 1000011670.svg');
  width: 500.7px;
  height: 730px;
}
.sign_details {
  margin-left: 5rem;
}
.sign_details h2 {
  width: 332px;
  height: 65px;
  padding: 8px 0px 0px 0px;
  margin-left: 6rem;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
}
.sign_details p {
  width: 332px;
  height: 65px;
  padding: 2px 0px 0px 0px;

  margin-left: 7rem;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}

.EmailsignIn {
  width: 332px;
  height: 65px;
  padding: 8px 0px 0px 0px;

  margin-right: 10rem;
}
.EmailsignIn input {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 25rem;
  width: 450px;
  height: 60px;
  padding: 8px 0px 8px 0px;
  gap: 32px;
  border-radius: 4px;
}
.Password {
  width: 332px;
  height: 65px;
  padding: 8px 0px 0px 0px;

  margin-right: 10rem;
  margin-top: 3rem;
}
.Password input {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 25rem;
  width: 450px;
  height: 60px;
  padding: 8px 0px 8px 0px;
  gap: 32px;
  border-radius: 4px;
}

.password_img_signIn {
  background: url('../src/img/eye-off.svg');
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  margin-left: 15rem;
  top: 19rem;
}

.rememberMe {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 450px;
  height: 50px;
  padding: 8px 0px 0px 0px;
  margin-top: 2rem;
}
.rememberMe ul {
  margin-left: 10rem;
}

.submit_signIn {
  background: #642ab6;
  width: 450px;
  height: 81px;
  padding: 8px 0px 0px 0px;
  border-radius: 4px;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  margin-right: 5rem;
  margin-top: 1rem;
}
.or_use {
  margin-top: 1rem;
  margin-left: 9rem;
}
.sign_details ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 5rem;
}

.facebook_signIn {
  background: url('../src/img/facebook\ \(1\)\ \(1\).svg');
  width: 4rem;
  height: 4rem;
}
.gmail_signIn {
  background: url('../src/img/google.svg');
  width: 4rem;
  height: 4rem;
}

.no_acctount {
  position: absolute;
  display: flex;
  margin-left: -2rem;
}

.no_acctount ul li {
  margin-left: -15rem;
}
/* this is the  CreateAccountPage */
.CreateAccountPage {
  margin: 0;
  max-width: 1170px;
  text-transform: capitalize;
  display: flex;
  margin: auto;
}
.section_CAP {
  width: 95vw;
  justify-content: center;
  align-items: flex-start;
  height: 730px;
  border: 1px solid #52556080;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
}
.img_CAP {
  background-image: url('../src/img/image\ 5\ \(1\).svg');
  width: 500.7px;
  height: 730px;
}
.CAP_details {
  margin-left: 5rem;
}
.CAP_details h2 {
  width: 332px;
  height: 65px;
  padding: 8px 0px 0px 0px;
  margin-left: 6rem;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
}
.CAP_details p {
  width: 332px;
  height: 65px;
  padding: 2px 0px 0px 0px;

  margin-left: 7rem;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}

.Name_CAP {
  width: 332px;
  height: 65px;
  padding: 8px 0px 0px 0px;

  margin-right: 10rem;
}
.Name_CAP input {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 25rem;
  width: 450px;
  height: 60px;
  padding: 8px 0px 8px 0px;
  gap: 32px;
  border-radius: 4px;
}
.Email_CAP {
  width: 332px;
  height: 65px;
  padding: 8px 0px 0px 0px;

  margin-right: 10rem;
  margin-top: 3rem;
}
.Email_CAP input {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 25rem;
  width: 450px;
  height: 60px;
  padding: 8px 0px 8px 0px;
  gap: 32px;
  border-radius: 4px;
}
.Password_CAP {
  width: 332px;
  height: 65px;
  padding: 8px 0px 0px 0px;

  margin-right: 10rem;
  margin-top: 3rem;
}
.Password_CAP input {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 25rem;
  width: 450px;
  height: 60px;
  padding: 8px 0px 8px 0px;
  gap: 32px;
  border-radius: 4px;
}

.hiden_img {
  background: url('../src/img/eye-off.svg');
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  margin-left: 15rem;
  top: 26rem;
}

.accept__CAP {
  width: 300px;

  padding: 0.1rem;
  margin-top: 2rem;
}

.signup_CAP {
  background: #642ab6;
  width: 450px;
  height: 81px;
  padding: 8px 0px 0px 0px;
  border-radius: 4px;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  margin-right: 5rem;
  margin-top: 1rem;
}
.CAP_details h3 {
  margin-top: 1rem;
  margin-left: 10rem;
}
.CAP_details ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 5rem;
}
.facebook_CAP {
  background: url('../src/img/facebook\ \(1\)\ \(1\).svg');
  width: 4rem;
  height: 4rem;
}
.gmail_CAP {
  background: url('../src/img/google.svg');
  width: 4rem;
  height: 4rem;
}
.no_acctount_CAP {
  display: flex;
  margin-top: 43rem;
  margin-left: -28rem;
}

/* this is for verifyPage */
.verifyland {
  margin: 0;
  max-width: 1170px;
  text-transform: capitalize;
  display: flex;
  margin: auto;
}
.section_verify {
  height: 730px;
  border: 1px solid #52556080;
  background: #ffffff;
  column-gap: 2rem;
  width: 80vw;
  height: 40vw;
  margin-top: 5rem;
}
.verify_details {
  justify-content: center;
  text-align: center;
}
.verify_details h3 {
  font-family: Montserrat;
  font-size: 59.08px;
  font-weight: 700;
  line-height: 72.02px;
  margin-top: 2rem;
}
.verify_details p {
  font-family: Montserrat;
  font-size: 23.63px;
  font-weight: 400;
  line-height: 28.81px;
  text-align: center;
  margin-top: 2rem;
}
.Enter_code p {
  justify-content: center;
  text-align: left;
  font-family: Montserrat;
  font-size: 20.02px;
  font-weight: 700;
  line-height: 36.59px;
  color: black;
  margin-left: 12rem;
}
.Enter_code input {
  width: 50rem;
  height: 6rem;
  justify-content: center;
  text-align: left;
  border-radius: 7.51px;
  border: 0.94px 0px 0px 0px;
  font-family: Montserrat;
  font-size: 45.04px;
  font-weight: 600;
  line-height: 54.9px;
}
.submit_verification {
  width: 50rem;
  height: 6rem;
  justify-content: center;
  text-align: center;
  border-radius: 7.51px;
  border: 0.94px 0px 0px 0px;
  color: #ffffff;
  margin-top: 4rem;
  background: #642ab6;
  font-family: Montserrat;
  font-size: 45.04px;
  font-weight: 600;
  line-height: 54.9px;
}
/* this is forgotPassword */
.forgotland {
  margin: 0;
  max-width: 1170px;
  text-transform: capitalize;
  display: flex;
  margin: auto;
}
.section_forgot {
  height: 730px;
  border: 1px solid #52556080;
  background: #ffffff;
  column-gap: 2rem;
  width: 80vw;
  height: 40vw;
  margin-top: 5rem;
}
.forgot_details {
  justify-content: center;
  text-align: center;
}
.forgot_details h3 {
  font-family: Montserrat;
  font-size: 59.08px;
  font-weight: 700;
  line-height: 72.02px;
  margin-top: 2rem;
}
.forgot_details p {
  font-family: Montserrat;
  font-size: 23.63px;
  font-weight: 400;
  line-height: 28.81px;
  text-align: center;
  margin-top: 2rem;
}
.formforgot label {
  display: flex;
  margin-top: 4rem;
  color: #000;
  margin-left: 12rem;
  font-family: Montserrat;
  font-size: 20.02px;
  font-weight: 700;
  line-height: 36.59px;
}

.Emailforgot input {
  width: 50rem;
  height: 6rem;
  justify-content: center;
  text-align: left;
  border-radius: 7.51px;
  border: 0.94px 0px 0px 0px;
  font-family: Montserrat;
  font-size: 45.04px;
  font-weight: 600;
  line-height: 54.9px;
  padding-left: 3rem;
}
.submit_forgot {
  width: 50rem;
  height: 6rem;
  justify-content: center;
  text-align: center;
  border-radius: 7.51px;
  border: 0.94px 0px 0px 0px;
  color: #ffffff;
  margin-top: 4rem;
  background: #642ab6;
  font-family: Montserrat;
  font-size: 45.04px;
  font-weight: 600;
  line-height: 54.9px;
}
/* this is success */
.successland {
  margin: 0;
  max-width: 1170px;
  text-transform: capitalize;
  display: flex;
  margin: auto;
}
.section_success {
  height: 730px;
  border: 1px solid #52556080;
  background: #ffffff;
  column-gap: 2rem;
  width: 30vw;
  height: 20vw;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
}
.successs_details {
  justify-content: center;
  text-align: center;
}
.img_success {
  width: 0.8rem;
  height: 0.8rem;
  border: 1.5rem solid #642ab699;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin-left: 12rem;
  content: '';
  margin-top: 1rem;
  padding-right: 0.5rem;
}
.imgS {
  background: url('../src/img/Vector.svg');
  width: 1rem;
  height: 1rem;
  margin: 0 2rem 0 0;
}

.success_details h3 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  line-height: 72.02px;
  margin-top: 2rem;
  text-align: center;
}
.success_details p {
  font-family: Montserrat;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 28.81px;
  text-align: center;
  margin-top: 1rem;
}
.submit_success {
  width: 25rem;
  height: 2rem;
  text-align: center;
  border-radius: 7.51px;
  border: 0.94px 0px 0px 0px;
  color: #ffffff;
  margin-top: 1rem;
  background: #642ab6;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1rem;
  margin-left: 2rem;
}
