/* this is trying */
.homepage {
  margin-left: auto;
  margin-right: auto;
}

.homeI {
  display: flex;
  padding-top: 6rem;
}

/* this is fo the know more about us */
#lineHead {
  display: flex;
}
#line {
  width: 15%;
  height: 2px;
  background: #525560;
  border: 2px solid #181818;
  margin: 1rem 0.5rem 1rem 0;
}
.knowingMore h4 {
  color: #090446;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.moreAboutUs1 {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 3rem;
  margin-top: 3rem;
}
.seconds {
  width: 597.59px;
  height: 398px;
  border-radius: 2rem;
  border-radius: 20px;
  opacity: 0.9;
  border: 0.5px solid lightgray;
  background-image: url('../src/img/frame1b.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3rem;
  margin-left: 4rem;
}

.infor_know {
  padding: 0 0 0 1.5rem;
}
.infor_know h3 {
  width: 500px;
  color: #090446;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 50px;
}
.infor_know p {
  width: 450px;
  color: var(--BodY-Text, #323232);
  font-family: Montserrat;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 50px;
}

/* what we do  */

.what_W_D {
  display: flex;
  background: rgba(244, 97, 136, 0.2);
  justify-content: space-between;
}
.what {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  display: flex;
}
#wHead {
  display: flex;
  padding: 0 0 0 5rem;
  margin-top: 2rem;
}
#wHead p {
  width: 20%;
  height: 1px;
  background: #525560;
  border: 1px solid #525560;
}
#wHead h4 {
  color: #090446;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.what_k h3 {
  width: 500px;
  color: #090446;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 50px;
  margin-top: 5rem;
  margin-left: -9rem;
}
.what_k p {
  width: 450px;
  color: #323232;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
  margin-left: -9rem;
}
.what_k {
  padding: 0 0 0 3rem;
}
.what_is {
  margin-top: 13rem;
}
.what_is p {
  width: 450px;
  color: #323232;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}

.done {
  padding: 3rem;
}
.done_k h3 {
  width: 640px;
  color: #090446;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 3rem 0 3rem 0;
}
.done_k p {
  width: 450px;
  color: #323232;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}
.done_k {
  padding: 0 0 0 3rem;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
}

#wdone {
  display: flex;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#wdone p {
  width: 10%;
  height: 1px;
  background: #525560;
  border: 1px solid #525560;
}

.we_done {
  border: 1px solid rgba(82, 85, 96, 0.5);
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}

.all {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
}

#learn_mored {
  border-radius: 4px;
  background: #fff;
  color: #525560;
  text-align: right;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.8rem;
  margin: 0.8rem;
  justify-content: center;
  text-align: center;
}

.d_oneI {
  width: 380.15px;
  height: 381.34px;
  border-radius: 14.39px 0px 0px 0px;
  border-radius: 2rem;
  opacity: 90px;
  margin: 0rem 1rem 3rem 1rem;
  background-image: url('../src/img/image\ 16.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.d_twoI {
  width: 380px;
  height: 381.34px;
  border-radius: 14.39px 0px 0px 0px;
  border-radius: 2rem;
  opacity: 90px;
  margin: 0 1rem 3rem 0;
  background-image: url('../src/img/image\ 15.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.d_threeI {
  width: 380px;
  height: 381.34px;
  border-radius: 14.39px 0px 0px 0px;
  border-radius: 2rem;
  opacity: 90px;
  margin: 0 1rem 3rem 0;
  background-image: url('../src/img/image\ 5.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.d_one {
  position: relative;
}
.d_one h3 {
  position: absolute;
  top: 50px;
  margin: 3rem;
  color: #fff;
}
.d_two {
  position: relative;
}
.d_two h3 {
  position: absolute;
  top: 50px;
  margin: 3rem;
  color: #fff;
}
.d_three {
  position: relative;
  margin-right: 2.5rem;
}
.d_three h3 {
  position: absolute;
  top: 50px;
  margin: 3rem;
  color: #fff;
}

.d_three a {
  position: absolute;
  top: 15rem;
  right: 15rem;
  color: #fff;
  justify-content: center;
}
.d_two a {
  position: absolute;
  top: 15rem;
  right: 15rem;
  color: #fff;
  justify-content: center;
}
.d_one a {
  position: absolute;
  top: 15rem;
  right: 15rem;
  color: #fff;
  justify-content: center;
}
span {
  display: block;
}

/* Join as a volunteer */
.join_volunteer {
  text-transform: capitalize;
  background: #fff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.volunteer {
  position: absolute;
  top: 22rem;
  left: 37rem;
  background: #f46188;
  border-radius: 0.1rem;
  padding: 0.5rem;
  color: #fff;
}
.donate {
  position: absolute;
  top: 22rem;
  left: 50rem;
  background: #fff;
  border-radius: 0.1rem;
  padding: 0.5rem;
  color: #181818;
}
.join_volunteer {
  padding-bottom: 3rem;
}
.join_volunteer p {
  position: absolute;
  top: 7rem;
  width: 700px;
  height: 156px;
  top: 7rem;
  left: 25rem;
  color: #090446;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: center;
}

.backImg {
  background-image: url('../src/img/image\ 17.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 1100px;
  height: 455px;
  margin: 3rem 3rem 0 0;
  opacity: 0.7;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1300px) {
  .moreAboutUs1 {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 2rem;
    margin-top: 3rem;
  }
  .seconds {
    width: 350.59px;
    height: 420px;
    background-image: url('../src/img/frame1b.svg');
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 1rem;
  }

  .infor_know {
    padding: 0 0 0 1.5rem;
  }
  .infor_know h3 {
    width: 400px;
    padding-bottom: 50px;
  }
  .infor_know p {
    width: 400px;
    padding-bottom: 50px;
    margin-right: 1rem;
  }
  .what {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    display: flex;
  }
  #wHead {
    display: flex;
    padding: 0 0 0 2rem;
    margin-top: 2rem;
  }
  #wHead p {
    width: 20%;
    height: 1px;
    background: #525560;
    border: 1px solid #525560;
  }
  #wHead h4 {
    color: #090446;
    font-size: 16px;
    width: 50%;
  }
  .what_k h3 {
    width: 500px;
    padding-bottom: 50px;
    margin-top: 5rem;
    margin-left: -9rem;
  }
  .what_k p {
    width: 400px;

    padding-bottom: 30px;
    margin-left: -9rem;
  }
  .what_k {
    padding: 0 0 0 3rem;
  }
  .what_is {
    margin-top: 13rem;
  }
  .what_is p {
    width: 400px;

    padding-bottom: 30px;
    margin-right: 1rem;
    margin-left: -4rem;
  }
  .all {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
  .d_oneI {
    width: 270px;
    height: 381.34px;
    margin: 0rem 0.5rem 3rem 0.5rem;
  }
  .d_twoI {
    width: 270px;
    height: 381.34px;
    margin: 0 0.5rem 3rem 0;
  }
  .d_threeI {
    width: 270px;
    height: 381.34px;
    margin: 0 0.5rem 3rem 0;
  }
  #learn_mored {
    font-size: 0.8rem;
    padding: 1rem;
    margin-right: -5rem;
    justify-content: center;
    text-align: center;
  }
  /* Join as a volunteer */

  .volunteer {
    top: 20rem;
    left: 20rem;
  }
  .donate {
    top: 20rem;
    left: 30rem;
  }
  .join_volunteer p {
    width: 500px;
    height: 156px;
    top: 7rem;
    left: 15rem;
    font-size: 30px;
    font-weight: 800;
  }
  .join_volunteer {
    padding-bottom: 3rem;
  }
  .backImg {
    width: 800px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 960px) {
  .homeI {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .moreAboutUs1 {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 2rem;
    margin-top: 3rem;
  }
  .seconds {
    width: 500.59px;
    height: 500px;
    background-image: url('../src/img/frame1b.svg');
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .infor_know {
    padding: 0 0 0 1.5rem;
  }
  .infor_know h3 {
    width: 400px;
    padding-bottom: 50px;
  }
  .infor_know p {
    width: 600px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .infor_know {
    padding: 0 0 0 1.5rem;
  }
  .infor_know h3 {
    width: 400px;
    padding-bottom: 50px;
  }
  .infor_know p {
    width: 400px;
    padding-bottom: 50px;
    margin-right: 1rem;
  }
  .what {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    display: block;
  }
  #wHead {
    display: flex;
    padding: 0 0 0 0rem;
    margin-top: 2rem;
  }
  #wHead p {
    width: 20%;
    height: 1px;
    background: #525560;
    border: 1px solid #525560;
  }
  #wHead h4 {
    color: #090446;
    font-size: 16px;
    width: 50%;
  }
  .what_k h3 {
    width: 500px;
    padding-bottom: 50px;
    margin-top: 1rem;
    margin-left: 0rem;
  }
  .what_k p {
    width: 500px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .what_k {
    padding: 0 0 0 0rem;
  }
  .what_is {
    margin-top: 0rem;
  }
  .what_is p {
    width: 500px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .what_W_D {
    margin-right: auto;
    margin-left: auto;
  }
  .all {
    display: block;
    justify-content: space-between;
    padding-bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
  .d_oneI {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .d_twoI {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .d_threeI {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  #learn_mored {
    font-size: 1.1rem;
    padding: 1rem;
    margin: 8rem 10rem 0 0;
    justify-content: center;
    text-align: center;
  }
  .done_k h3 {
    width: 550px;
  }
  .all h3 {
    margin: 5rem 0 0 8rem;
  }
  /* Join as a volunteer */

  .volunteer {
    top: 13rem;
    left: 15rem;
  }
  .donate {
    top: 13rem;
    left: 25rem;
  }
  .join_volunteer p {
    width: 400px;
    height: 130px;
    top: 1rem;
    left: 10rem;
    font-size: 22px;
    font-weight: 600;
  }
  .join_volunteer {
    padding-bottom: 3rem;
  }
  .backImg {
    width: 600px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 760px) {
  .homeI {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .moreAboutUs1 {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 2rem;
    margin-top: 3rem;
  }
  .seconds {
    width: 400.59px;
    height: 400px;
    background-image: url('../src/img/frame1b.svg');
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .infor_know {
    padding: 0 0 0 1.5rem;
  }
  .infor_know h3 {
    width: 300px;
    padding-bottom: 50px;
  }
  .infor_know p {
    width: 300px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .what {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    display: block;
  }
  #wHead {
    display: flex;
    padding: 0 0 0 0rem;
    margin-top: 2rem;
  }
  #wHead p {
    width: 20%;
    height: 1px;
    background: #525560;
    border: 1px solid #525560;
  }
  #wHead h4 {
    color: #090446;
    font-size: 16px;
    width: 50%;
  }
  .what_k h3 {
    width: 350px;
    padding-bottom: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: auto;
  }
  .what_k p {
    width: 350px;
    padding-bottom: 30px;
    margin-left: 1.5rem;
    margin-right: auto;
  }
  .what_k {
    padding: 0 0 0 0rem;
  }
  .what_is {
    margin-top: 0rem;
  }
  .what_is p {
    width: 350px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .what_W_D {
    margin-right: auto;
    margin-left: auto;
  }
  .all {
    display: block;
  }
  .d_oneI {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .d_twoI {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .d_threeI {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  #learn_mored {
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    justify-content: center;
    text-align: center;
  }
  .all h3 {
    margin: 5rem 0 0 7rem;
  }
  .done_k h3 {
    width: 350px;
    margin-left: -3rem;
  }
  /* Join as a volunteer */

  .volunteer {
    position: absolute;
    top: 20rem;
    left: 9rem;
  }
  .donate {
    top: 20rem;
    left: 20rem;
  }
  .join_volunteer p {
    width: 250px;
    height: 200px;
    top: 3rem;
    left: 8rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2rem;
  }
  .join_volunteer {
    padding-bottom: 3rem;
  }
  .backImg {
    width: 400px;
    height: 500px;
  }
}
